.item-show{
  height: 100vh;
}

.name{
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 300px;
  margin-right: 300px;
  border-bottom: solid red;
}

.item-img-content{
  text-align: center;
  margin-top: 40px;
}

.item-explain-box{
  width: 80px;
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
}

.item-red-btn{
  margin-top: 20px;
}

.or-text{
  text-align: center;
}
.dc{
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}